@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#FFF 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}